.button {
   cursor: pointer;

   transition: all 0.15s ease;
   background: #6f58a2;
   border: 2px solid #6f58a2;
   color: white;
   padding: 8px;
   font-size: 12px;
   font-weight: bold;
   border-radius: 4px;
   &:hover {
      transition: all 0.15s ease;
      background: #9880ca;
   }
   &:active {
      transition: all 0.15s ease;
      background: #574286;
   }

   &:disabled {
      cursor: default;
      background: gray;
      border: gray;
   }
}
