body {
   // background: red;
   margin: 0;
   padding: 0;
   font-family: Arial, Helvetica, sans-serif;
   background: #f1f2f4;
}
button {
   all: unset;
}
input {
   all: unset;
}
.main {
   display: flex;
   height: 100vh;
   flex-direction: column;
   .mainFlex {
      display: flex;
      flex: 1;
      padding: 20px;
   }
}
.side {
   flex: 1;
   position: relative;
   display: flex;
   flex-direction: column;

   > div:first-child {
      width: 100%;
      display: flex;
      padding: 10px;
      button {
         margin: auto;
      }
   }
   > div:last-child {
      overflow: hidden;
      flex: 1;
      background: white;
      border-radius: 10px;
      border: 1px solid #c6c6c6;
      overflow: auto;
   }
}
.topbar {
   background: #1d4354;
   display: flex;
   position: relative;
   padding: 25px;
   margin: 5px;

   border-radius: 10px;

   .search {
      line-height: 19px;
      background: #2b5468;
      color: rgba(255, 255, 255, 0.87);
      padding: 10px;
      border-radius: 60px;
      font-size: 14px;
      display: inline-block;
      span {
         margin-right: 10px;
      }
      input {
         &::placeholder {
            color: rgba(255, 255, 255, 0.87);
         }
      }
   }

   .logo {
      font-weight: bold;
      font-size: 20px;
      color: white;
      margin-right: 20px;
      margin: auto;
      position: relative;
      img {
         position: absolute;
         left: 0;
         top: -80px;
         transform: translate(-50%);
         width: 150px;
      }
   }

   .li {
      color: rgba(255, 255, 255, 0.87);
      margin-left: 15px;
      cursor: pointer;
      display: flex;
      svg {
         margin: auto;
      }
   }
   .profileIcon {
      //   background: url("../profile.png");
      background: gray;
      background-size: cover;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      display: inline-block;
      //   margin-top: -10px;
   }
}
.navbar {
   //    color: white;
   position: relative;
   width: 250px;
   //    box-shadow: 4px 12px 13px -1px rgba(0, 0, 0, 0.685);
   overflow: hidden;
   font-size: 15px;
   .item {
      transition: all 0.15s ease;
      display: block;
      width: 100%;
      padding: 15px;
      cursor: pointer;
      border-left: 4px solid transparent;
      &:hover {
         transition: all 0.15s ease;
         padding-left: 21px;

         //  background: rgba($color: black, $alpha: 0.5);
      }
      &:active {
         transition: all 0.15s ease;
         //  background: rgba($color: black, $alpha: 0.65);
      }
      &.selected {
         font-weight: bold;
         border-color: rgb(55, 199, 156);
         padding-left: 21px;
         color: #1d4354;
      }
      svg {
         margin-right: 6px;
      }
   }
}
.googleSignIn {
   display: flex;
   height: 100vh;

   > div {
      position: relative;
      margin: auto;
      > img {
         position: absolute;
         width: 290px;
         top: -350%;
         left: 50%;
         transform: translate(-50%);
         pointer-events: none;
      }
   }
   button {
      transition: all 0.15s ease;
      cursor: pointer;
      padding: 15px;
      background: #b03085;
      color: white;
      border: 2px solid #b03085;
      border-radius: 8px;
      &:hover {
         transition: all 0.15s ease;
         background: #bb639e;
      }
   }
}
